/* temporario */
:root {
	--colorBgCard: #4e4e4e85;
	--colorBgCard2: #969696d7;

	--colorBgMobile: #2e2c2c;

	--colorWhite: #ffffff;
	--colorBlack: #00030c;

	--colorText: #cacaca;

	--fontTitle: 'Quantico';
	--fontMain: "Space Mono", monospace;
}

/* global custons for cards */
.card {
  margin: 1em;
  padding: 1em;
  background-color: var(--colorBgCard);
  border-radius: 24px;
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0px 0px 20px var(--colorBgCard2);
  transform: scale(1.03);
}

.card:first-child {
  margin-top: 3em;
}

.card:last-child {
  margin-bottom: 3em;
}


/* global cards tittle */
.card__title {
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
}


/* global cards contents */
.card__content {
  margin-bottom: 1em;
}


/* global card footer */
.card__footer {
  margin-top: 2em;
}


/* typcal media querrys */
@media only screen and (min-width: 960px) {
  .card:first-child {
    margin-top: 1em;
  }
}


@media only screen and (min-width: 1024px) {
  .card:first-child {
    margin-top: 1em;
  }

  .card:last-child {
    margin-bottom: 1em;
  }
}