/* temporario */


/* global custons for cards */
.card {
  margin: 1em;
  padding: 1em;
  background-color: var(--colorBgCard);
  border-radius: 24px;
}

.card:first-child {
  margin-top: 3em;
}

.card:last-child {
  margin-bottom: 3em;
}


/* global cards tittle */
.card__title {
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
}


/* global cards contents */
.card__content {
  margin-bottom: 1em;
}


/* global card footer */
.card__footer {
  margin-top: 2em;
}


/* typical device breakpoints */
@media only screen and (min-width: 600px) {
  main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 100%;
  }

  .card:nth-child(4) {
    width: auto;
  }

  .card:nth-child(4)> div.card__content {
    display: flex;
    justify-content: center;
  }

  .card:nth-child(6) {
    width: 35%;
  }

  .card:nth-child(7) {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .card:nth-child(5) {
    width: 50%;
  }

  .card:nth-child(8), .card:nth-child(9) {
    width: 45%;
  }
}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}