/* cv download */
.resume {
	background-color: var(--colorBgCard2);
	padding: 2em;
}

.resume>div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* link fake */
.link__fake {
	display: none;
}
