/* formation area */
.formation__card {
	background-color: var(--colorBgMobile);
	border-radius: 8px;
	padding: 0.5em 0.8em;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
	transition: all 0.3s ease;
}

.formation__card:hover {
	box-shadow: 0px 0px 10px var(--colorBgCard2);
  transform: scale(1.01);
}

.formation__card>img {
	width: 48px;
	height: 48px;
}

.formation__card>div>p {
	text-indent: 0em;
	font-weight: 700;
	margin: 0;
}

.formation__card>div>p:first-child {
	margin-bottom: 0.5em;
}

.logo {
	border-radius: 16px;
}
