/* formation area */
.formation__card {
	background-color: var(--colorBgMobile);
	border-radius: 8px;
	padding: 0.5em 0.8em;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
}

.formation__card>img {
	width: 48px;
	height: 48px;
}

.formation__card>div>p {
	text-indent: 0em;
	font-weight: 700;
	margin: 0;
}

.formation__card>div>p:first-child {
	margin-bottom: 0.5em;
}

.logo {
	border-radius: 16px;
}


/* typical device breakpoints */
@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1200px) {

}