/* habilidades */

.skills_area {
	height: 50%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

.icons__svg {
	width: 48px;
	height: 48px;
}

/* typcal media querrys */
@media only screen and (min-width: 960px) {
	.skills_area {
		height: 70%;
	}
}